* {
    margin: 0;
    padding: 0;
  }
  .slider {
    width: 270px;
    display: flex;
    flex-direction: column;
    @media (max-width: 600px) {
      width: 260px;
    }
  }
  .slider > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
  }
  .slider > div > input {
    text-align: center;
    width: 90px;
    height: 32px;
    padding-left: 15px;
    border: 1px solid #b3b3b4;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
  }
  .slider > div > input::-webkit-inner-spin-button,
  .slider > div > input::-webkit-outer-spin-button{
    -webkit-appearance: none;
  }
  .slider > div > span {
    margin: 0 17px;
  }
  .MuiSlider-track {
    width: 270px;
    height: 6px !important;
    background: #c10016 !important;
    border-radius: 100px !important;
  }
  .MuiSlider-rail {
    width: 270px;
    height: 6px !important;
    background: #dbdbdb !important;
    border-radius: 100px !important;
  }
  .MuiSlider-thumb {
    width: 270px;
    background: #c10016 !important;
    height: 20px !important;
    width: 20px !important;
  }
  @media (max-width: 1400px) {
    #ProductItem-5 {
      display: none;
    }
  }
  @media (max-width: 1300px) {
    #ProductItem-4 {
      display: none;
    }
  }
  @media (max-width: 900px) {
    #ProductItem-3 {
      display: none;
    }
  }
  @media (max-width: 640px) {
    #ProductItem-2 {
      display: none;
    }
  }
  #WrrapGroup {
    display: none;
  }
  @media (max-width: 500px) {
    #WrrapGroup {
      display: flex;
    }
    #Group_4 {
      display: none;
    }
    #Group_7 {
      display: none;
    }
  }
  