.tabsbutton{
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
   .girl{
        width: 50px;
        height: 32px;
        border-radius: 5px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border: 1px solid #D9D9D9;
        cursor: pointer;
        background-image: url("../../image/Vector.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .girl.active{
        box-shadow: 0px 1px 8px 8px #888888;
    }

    .boy{
        width: 50px;
        height: 32px;
        border-radius: 5px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        cursor: pointer;
        background-image: url("../../image/igakan.png");
        background-repeat: no-repeat;
        background-position: center;  
    }
    .boy.active{
        box-shadow: 0px 1px 8px 8px #888888;
    }

}
.tabsNavMenu{
   display: block;
   position:absolute;
   z-index: 5;
}
.category{
    width: 100%;
    height: 120px;
    position: relative;
}
.menutype{
    width: 100%;
    min-height:50px;
    border: 1px solid black;
}
.additemmodalbuton{
    position: fixed;
    width: 50px;
    height: 57px;
    left: 97%;
    top: 373px;
    background: #C10016;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 30;
    background-image: url("../../image/pls.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.modaladditem{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(49,49,49,0.8);
    z-index: 12;
}
.wrraper{
    width: 100%;
    height: 100vh;
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}
.additemcontent{
    width: 60%;
    min-height:300px ;
    background: #FFFFFF;
    border-radius: 5px; 
    position: absolute;
    z-index: 14; 
    left: 279px;
    top: 93px;
    
    .closemodal{
        width: 98%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        h2{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: #2E2E2E;
        }
        img{
            cursor: pointer;
        }
    }
}
.modalbg{
    width: 100%;
    height: 100%;
    background-color:#F2F2F2; ;
}