
.menuType{
    width: 100%;
    height:55px;
    display: flex;
    align-items: center;

    .menuglobal{
        min-width:10%;
        height: 53px;
        border-bottom: 4px solid white;
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 10vh;
     }
}
.menuItem{

    width: 113px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    text-align: center;
    
    button{
        width: 100%;
        background: initial;
        border: initial;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 43px;
        text-transform: capitalize;
        color: #4F4F4F;
        cursor: pointer;
        position: relative;
    }
}
.activeline{
    width: 80%;
    height: 6px;
    border-radius: 100px;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 1vh;
    
}
.addnewcat{
    width: 38px;
    height: 38px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-image: url("../../image/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: 10px;
}

.supcatModal{
    width: 100%;
    height: 100vh;
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(49,49,49,0.8);
   z-index:10;
}
.wrapper{
    width: 100%;
    height: 100vh;
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}
.addsup{
    position: absolute;
    width: 345px;
    height: 163px;
    background: #FFFFFF;
    border-radius: 5px;
    top: 250px;
    right: 32%;
    bottom: 0;
    z-index:21;
    position: fixed;
    div{
        width: 95%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 5px;
        h1{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: #2E2E2E;
        }
        img{
            cursor: pointer;
        }
    }
    form{
      width: 95%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      input{
        width: 90%;
        height: 40px;
        border-color: white;
        border: 3px solid white;
        padding: 5px 10px ;
        border-bottom: 2px solid #C1C1C1 ;
        outline: none;
      }
      button{
        width: 90%;
        height: 32px;
        background: #C10016;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        color: #FFFFFF;
      }
    }
}
.addElementBigState{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .inputnameprice{
        width: 200px;
        display: flex;
        flex-direction: column;

        input{
            width: 100%;
            height: 35px;
            border-color: white;
            border: 3px solid white;
            padding: 5px 10px ;
            margin-top: 10px;
            outline: none;
            border-radius: 5px;
        }

    }
    .uplodimg{
        width: 98%;
        height: 142px;
        border-radius: 5px;
        object-fit: cover;
    }
    
    
    .uploade_image{
        width: 28%;
        height: 145px;
        background: #D3D3D3;
        border-radius: 5px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button{
            background-color: transparent;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        p{
            width: 100%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;
        }
    }
}
.selectbuton {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 79px;
    select{
        width: 200px;
        height: 35px;
        border-radius: 5px;
    }
    button{
        width: 69%;
        height: 32px;
        background: #C10016;
        border-radius: 25px;
        cursor: pointer;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: white;
        text-transform: capitalize;
        margin-top: 45px;
    }

}

